<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aftercup.menetrendk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/> <uses-permission android:name="android.permission.USE_EXACT_ALARM" />   <application
        android:label="MissIt Kaposvár"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="https://aftercupapp.github.io/missit-kaposvar/" 
                    android:pathPrefix="/" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.support.customtabs.trusted.TWA_PROVIDER"
            android:value="com.android.chrome" />
        <meta-data
            android:name="com.google.androidbrowserhelper.trusted.DISABLE_CUSTOM_TABS"
            android:value="true" />
    </application>


</manifest>
